#loading {
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  display: block;
  background-image: url('../images/loading.gif');
  margin-top: -16px;
  margin-left: -16px;
  position: absolute;
}
