<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
>
	<extension-point id="org.codefaces.ui.codeLanguages" name="CodeLanguages" schema="schema/org.codefaces.ui.codeLanguages.exsd"/>
    <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.codefaces.ui.internal.entryPoints.CodeFacesEntryPoint"
            id="org.codefaces.ui.entrypoint.codefaces"
            parameter="codefaces">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.codefaces.ui.internal.perspectives.CodeFacesPerspectiveFactory"
            id="org.codefaces.ui.perspective.codefaces"
            name="CodeFaces">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.codefaces.ui.category.codefaces"
            name="CodeFaces">
      </category>
      <view
            allowMultiple="false"
            category="org.codefaces.ui.category.codefaces"
            class="org.codefaces.ui.internal.views.ProjectExplorerViewPart"
            icon="icons/navigator.gif"
            id="org.codefaces.ui.view.projectExplorer"
            name="Project Explorer"
            restorable="true">
         <description>
            Showing files in a tree structure.
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            body="public/loading.html"
            defaultEntrypointId="org.codefaces.ui.entrypoint.codefaces"
            favicon="icons/favicon2.gif"
            id="org.codefaces.ui.branding.codefaces"
            servletName="explore"
            themeId="org.codefaces.ui.azure.theme"
            title="CodeFaces">
         <additionalHeaders>
            <meta
                  content="CodeFaces is a source control client for browsers based on Ajax RIA technology."
                  name="description">
            </meta>
            <meta
                  content="CodeFaces, source control, Eclipse RAP, github, code navigator"
                  name="keywords">
            </meta>
            <meta
                  content="jJpQuJyjOXm-Y1wrnB9nSmFG3mxk0mWXGn0FQUwdMk8"
                  name="google-site-verification">
            </meta>
         </additionalHeaders>
      </branding>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.codefaces.ui.internal.commands.ShowRepoInfoDialogCommandHandler"
            commandId="org.codefaces.ui.internal.commands.showRepoInfoDialogCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="org.codefaces.core.models.RepoResource">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.codefaces.ui.category.command"
            name="CodeFaces Command">
      </category>
      <command
            categoryId="org.codefaces.ui.category.command"
            defaultHandler="org.codefaces.ui.internal.commands.ImportRepoCommandHandler"
            description="Import from a repository"
            id="org.codefaces.ui.internal.commands.importRepositoryCommand"
            name="ImportRepositoryCommand">
      </command>
      <command
            categoryId="org.codefaces.ui.category.command"
            defaultHandler="org.codefaces.ui.internal.commands.SwitchBranchCommandHandler"
            description="Switch to another Repository Branch without switching the repository"
            id="org.codefaces.ui.internal.commands.switchBranchCommand"
            name="switchRepositoryBranchCommand">
         <commandParameter
               id="org.codefaces.ui.internal.commands.parameters.switchBranchCommand.branchId"
               name="branchId"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="org.codefaces.ui.category.command"
            defaultHandler="org.codefaces.ui.internal.commands.AboutCommandHandler"
            description="About CodeFaces"
            id="org.codefaces.ui.internal.commands.about"
            name="About">
      </command>
      <command
            categoryId="org.codefaces.ui.category.command"
            defaultHandler="org.codefaces.ui.internal.commands.OpenFileCommandHandler"
            description="Open selected file(s)"
            id="org.codefaces.ui.internal.commands.openFileCommand"
            name="Open File">
         <commandParameter
               id="org.codefaces.ui.internal.commands.parameters.openFileCommand.mode"
               name="mode"
               optional="false">
         </commandParameter>
         <commandParameter
               id="org.codefaces.ui.internal.commands.parameters.openFileCommand.viewId"
               name="viewId"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.codefaces.ui.category.command"
            defaultHandler="org.codefaces.ui.internal.commands.ShowViewCommandHandler"
            description="Open a view"
            id="org.codefaces.ui.internal.commands.showViewCommand"
            name="Show view">
         <commandParameter
               id="org.codefaces.ui.internal.commands.parameters.showViewCommand.viewId"
               name="viewId"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="org.codefaces.ui.category.command"
            defaultHandler="org.codefaces.ui.internal.commands.OpenEditorHandler"
            description="Open a editor"
            id="org.codefaces.ui.internal.commands.openEditor"
            name="Open a editor">
         <commandParameter
               id="org.codefaces.ui.internal.commands.openEditor.editorId"
               name="editorId"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="org.codefaces.ui.category.command"
            id="org.codefaces.ui.internal.commands.showRepoInfoDialogCommand"
            name="Show Repo Info Dialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.codefaces.menu.repository"
               label="Repository">
            <command
                  commandId="org.codefaces.ui.internal.commands.importRepositoryCommand"
                  icon="icons/import.gif"
                  label="Import..."
                  style="push"
                  tooltip="Import project from a repository">
            </command>
         </menu>
         <menu
               id="org.codefaces.ui.menu.window"
               label="Window">
            <menu
                  icon="icons/window.gif"
                  label="Show View">
               <dynamic
                     class="org.codefaces.ui.internal.actions.ShowViewMenu"
                     id="org.codefaces.ui.internal.actions.showViewMenu">
               </dynamic>
            </menu>
         </menu>
         <menu
               id="org.codefaces.menu.help"
               label="Help">
            <command
                  commandId="org.codefaces.ui.internal.commands.openEditor"
                  icon="icons/welcome.gif"
                  label="Welcome"
                  style="push"
                  tooltip="Open the welcome page">
               <parameter
                     name="org.codefaces.ui.internal.commands.openEditor.editorId"
                     value="org.codefaces.ui.editor.welcomeEditor">
               </parameter>
            </command>
            <command
                  commandId="org.codefaces.ui.internal.commands.about"
                  icon="icons/help.gif"
                  label="About"
                  style="push"
                  tooltip="About CodeFaces.org">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.codefaces.ui.toolbar.codefaces">
            <command
                  commandId="org.codefaces.ui.internal.commands.importRepositoryCommand"
                  icon="icons/import.gif"
                  label="Import..."
                  style="push"
                  tooltip="Import project from a repository">
            </command>
            <command
                  commandId="org.codefaces.ui.internal.commands.showRepoInfoDialogCommand"
                  icon="icons/repoinfo.gif"
                  style="push"
                  tooltip="Show Repository Info">
            </command>
            <command
                  commandId="org.codefaces.ui.internal.commands.openEditor"
                  icon="icons/welcome.gif"
                  label="Welcome"
                  style="push"
                  tooltip="Open the welcome page">
               <parameter
                     name="org.codefaces.ui.internal.commands.openEditor.editorId"
                     value="org.codefaces.ui.editor.welcomeEditor">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.codefaces.ui.view.projectExplorer">
      </menuContribution>
      <menuContribution
            locationURI="popup:org.codefaces.ui.view.projectExplorer#viewer">
         <command
               commandId="org.codefaces.ui.internal.commands.openFileCommand"
               label="Open"
               style="push"
               tooltip="open the selected file(s)">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.codefaces.core.models.RepoFile">
                       <!--
                        <test
                              property="org.codefaces.ui.propertyTester.RepoFIle.canOpen">
                        </test>
                        -->
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            <parameter
                  name="org.codefaces.ui.internal.commands.parameters.openFileCommand.mode"
                  value="selectionFromView">
            </parameter>
            <parameter
                  name="org.codefaces.ui.internal.commands.parameters.openFileCommand.viewId"
                  value="org.codefaces.ui.view.projectExplorer">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.codefaces.ui.internal.editors.CodeExplorer"
            contributorClass="org.codefaces.ui.internal.editors.CodeExplorerActionBarConbributor"
            default="true"
            icon="icons/file.gif"
            id="org.codefaces.ui.editor.codeExplorer"
            name="Code Explorer">
      </editor>
      <editor
            class="org.codefaces.ui.internal.editors.WelcomeEditor"
            default="true"
            icon="icons/welcome.gif"
            id="org.codefaces.ui.editor.welcomeEditor"
            name="Welcome">
      </editor>
      <editor
            class="org.codefaces.ui.internal.editors.SupportEditor"
            default="false"
            icon="icons/contact_us.gif"
            id="org.codefaces.ui.editor.supportEditor"
            name="Contact Us">
      </editor>
   </extension>
    <!--
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="org.codefaces.ui.RepoFilePropertyTester"
             id="org.codefaces.ui.propertyTester.RepoFIle"
             namespace="org.codefaces.ui.propertyTester.RepoFIle"
             properties="canOpen"
             type="org.codefaces.core.models.RepoFile">
       </propertyTester>
    </extension>
    -->
</plugin>
