<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
>
	<extension-point id="org.codefaces.ui.codeLanguages" name="CodeLanguages" schema="schema/org.codefaces.ui.codeLanguages.exsd"/>
    <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.codefaces.ui.entryPoints.CodeFacesEntryPoint"
            id="org.codefaces.ui.entrypoint.codefaces"
            parameter="codefaces">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.codefaces.ui.perspectives.CodeFacesPerspectiveFactory"
            id="org.codefaces.ui.perspective.codefaces"
            name="CodeFaces">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.codefaces.ui.category.codefaces"
            name="CodeFaces">
      </category>
      <view
            allowMultiple="false"
            category="org.codefaces.ui.category.codefaces"
            class="org.codefaces.ui.views.ProjectExplorerViewPart"
            icon="icons/navigator.gif"
            id="org.codefaces.ui.view.projectExplorer"
            name="Project Explorer"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.codefaces.ui.category.codefaces"
            class="org.codefaces.ui.views.CodeExplorerViewPart"
            icon="icons/file.gif"
            id="org.codefaces.ui.view.codeExplorer"
            name="Code Explorer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.codefaces.ui.category.codefaces"
            class="org.codefaces.ui.views.WelcomePage"
            icon="icons/welcome.gif"
            id="org.codefaces.ui.view.welcomePage"
            name="Welcome"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="org.codefaces.ui.entrypoint.codefaces"
            id="org.codefaces.ui.branding.codefaces"
            servletName="explore"
            themeId="org.codefaces.ui.azure.theme"
            title="CodeFaces">
      </branding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.codefaces.ui.category.command"
            name="CodeFaces Command">
      </category>
      <command
            categoryId="org.codefaces.ui.category.command"
            defaultHandler="org.codefaces.ui.commands.ImportRepositoryCommandHandler"
            description="Import from a repository"
            id="org.codefaces.ui.commands.importRepositoryCommand"
            name="ImportRepositoryCommand">
      </command>
      <command
            categoryId="org.codefaces.ui.category.command"
            defaultHandler="org.codefaces.ui.commands.SwitchBranchCommandHandler"
            description="Switch to another Repository Branch without switching the repository"
            id="org.codefaces.ui.commands.switchBranchCommand"
            name="switchRepositoryBranchCommand">
         <commandParameter
               id="org.codefaces.ui.commands.parameters.switchBranchCommand.newBranch"
               name="newBranch"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="org.codefaces.ui.category.command"
            defaultHandler="org.codefaces.ui.commands.AboutCommandHandler"
            description="About CodeFaces"
            id="org.codefaces.ui.command.about"
            name="About">
      </command>
      <command
            categoryId="org.codefaces.ui.category.command"
            defaultHandler="org.codefaces.ui.commands.OpenFileCommandHandler"
            description="Open selected file(s)"
            id="org.codefaces.ui.commands.openFileCommand"
            name="Open File">
         <commandParameter
               id="org.codefaces.ui.commands.parameters.openFileCommand.mode"
               name="mode"
               optional="false">
         </commandParameter>
         <commandParameter
               id="org.codefaces.ui.commands.parameters.openFileCommand.viewId"
               name="viewId"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.codefaces.ui.commands.ShowViewCommandHandler"
            description="Open a view"
            id="org.codefaces.ui.commands.showViewCommand"
            name="Show view">
         <commandParameter
               id="org.codefaces.ui.commands.parameters.showViewCommand.viewId"
               name="viewId"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.codefaces.menu.repository"
               label="Repository">
            <command
                  commandId="org.codefaces.ui.commands.importRepositoryCommand"
                  icon="icons/import.gif"
                  label="Import..."
                  style="push"
                  tooltip="Import project from a repository">
            </command>
         </menu>
         <menu
               id="org.codefaces.ui.menu.window"
               label="Window">
            <menu
                  icon="icons/window.gif"
                  label="Show View">
               <dynamic
                     class="org.codefaces.ui.actions.ShowViewMenu"
                     id="org.codefaces.ui.actions.showViewMenu">
               </dynamic>
            </menu>
         </menu>
         <menu
               id="org.codefaces.menu.help"
               label="Help">
            <command
                  commandId="org.codefaces.ui.command.about"
                  icon="icons/help.gif"
                  label="About"
                  style="push"
                  tooltip="About CodeFaces.org">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.codefaces.ui.toolbar.codefaces">
            <command
                  commandId="org.codefaces.ui.commands.importRepositoryCommand"
                  icon="icons/import.gif"
                  label="Import..."
                  style="push"
                  tooltip="Import project from a repository">
            </command>
            <command
                  commandId="org.codefaces.ui.commands.showViewCommand"
                  icon="icons/welcome.gif"
                  label="Welcome Page"
                  style="push"
                  tooltip="Open the welcome page">
               <parameter
                     name="org.codefaces.ui.commands.parameters.showViewCommand.viewId"
                     value="org.codefaces.ui.view.welcomePage">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.codefaces.ui.view.projectExplorer#viewer">
         <command
               commandId="org.codefaces.ui.commands.openFileCommand"
               label="Open"
               style="push"
               tooltip="open the selected file(s)">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.codefaces.core.models.RepoFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            <parameter
                  name="org.codefaces.ui.commands.parameters.openFileCommand.mode"
                  value="selectionFromView">
            </parameter>
            <parameter
                  name="org.codefaces.ui.commands.parameters.openFileCommand.viewId"
                  value="org.codefaces.ui.view.projectExplorer">
            </parameter>
         </command>
      </menuContribution>
   </extension>
    <extension
         point="org.eclipse.rap.ui.phaselistener">
      <listener
            class="org.codefaces.ui.UrlPhaseListener">
      </listener>
   </extension>
</plugin>
