<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.codefaces.ui.entryPoints.CodeFacesEntryPoint"
            id="org.codefaces.ui.entrypoint.codefaces"
            parameter="codefaces">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.codefaces.ui.perspectives.CodeFacesPerspectiveFactory"
            id="org.codefaces.ui.perspective.codefaces"
            name="Code Faces">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.codefaces.ui.views.ProjectExplorerViewPart"
            id="org.codefaces.ui.view.projectExplorer"
            name="Project Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="org.codefaces.ui.entrypoint.codefaces"
            id="org.codefaces.ui.branding.codefaces"
            servletName="codefaces"
            title="Code Faces">
      </branding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="org.codefaces.ui.commands.ShowRepositoryDialogCommand"
                  label="Open Repository"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.codefaces.ui.commands.ShowReposioryDialogCommandHandler"
            description="Show an input dialog for opening a repository"
            id="org.codefaces.ui.commands.ShowRepositoryDialogCommand"
            name="ShowRepositoryDialogCommand">
      </command>
      <command
            defaultHandler="org.codefaces.ui.commands.OpenRepositoryCommandHandler"
            description="Open a repository and update the explorer"
            id="org.codefaces.ui.commands.openRepositoryCommand"
            name="OpenRepositoryCommand">
         <commandParameter
               id="org.codefaces.ui.commands.parameters.openRepository.repoUrl"
               name="repoUrl"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.codefaces.ui.commands.SwitchRepositoryBranchCommandHandler"
            description="Switch to another Repository Branch without switching the repository"
            id="org.codefaces.ui.commands.switchRepositoryBranchCommand"
            name="switchRepositoryBranchCommand">
         <commandParameter
               id="org.codefaces.ui.commands.parameters.switchRepositoryBranch.newBranch"
               name="newBranch"
               optional="true">
         </commandParameter>
      </command>
   </extension>
</plugin>
