<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.codefaces.core.SCMConnectors">
      <connector
            class="org.codefaces.core.github.connectors.GitHubConnector"
            id="org.codefaces.core.github.connectors.github"
            kind="GitHub">
      </connector>
  </extension>
  <extension
        point="org.codefaces.core.SCMOperationHandlers">
     <operationHandler
           class="org.codefaces.core.github.operations.GitHubConnectionOperationHandler"
           id="org.codefaces.core.operations.SCMOperation.connection"
           kind="GitHub"
           name="GitHub Connection Operation Handler">
     </operationHandler>
     <operationHandler
           class="org.codefaces.core.github.operations.GitHubFetchBranchesOperationHandler"
           id="org.codefaces.core.operations.SCMOperation.fetchBranches"
           kind="GitHub"
           name="GitHub Fetch Brancher Operation Handler">
     </operationHandler>
     <operationHandler
           class="org.codefaces.core.github.operations.GitHubFetchChildrenOperationHandler"
           id="org.codefaces.core.operations.SCMOperation.fetchChildren"
           kind="GitHub"
           name="GitHub Fetch Children Operation Handler">
     </operationHandler>
     <operationHandler
           class="org.codefaces.core.github.operations.GitHubFetchFileInfoOperationHandler"
           id="org.codefaces.core.operations.SCMOperation.fetchFileInfo"
           kind="GitHub"
           name="GitHub Fetch File Info Operation Handler">
     </operationHandler>
  </extension>
</plugin>
