/* line 26, ../../../../private/azure/src/_partials/global_settings.scss */
* {
  color: #222222;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: white;
}

/* line 32, ../../../../private/azure/src/_partials/global_settings.scss */
*:disabled {
  color: #cfcfcf;
}

/* line 36, ../../../../private/azure/src/_partials/global_settings.scss */
*[BORDER] {
  border: 1px solid #aaaaaa;
}

/* line 3, ../../../../private/azure/src/_partials/button.scss */
Button {
  background-color: white;
}

/* line 7, ../../../../private/azure/src/_partials/button.scss */
Button[PUSH], Button[TOGGLE], Button[BORDER] {
  border-radius: 3px;
  padding: 2px 5px;
  background-image: gradient(linear, left top, left bottom, from(white), color-stop(48%, #f0f0f0), color-stop(52%, #e0e0e0), to(white));
  /*animation: hoverOut 500ms ease-out;*/
}

/* line 20, ../../../../private/azure/src/_partials/button.scss */
Button[PUSH], Button[TOGGLE] {
  cursor: pointer;
}

/* line 24, ../../../../private/azure/src/_partials/button.scss */
Button[PUSH]:disabled, Button[TOGGLE]:disabled {
  cursor: default;
  background-image: none;
  color: #cfcfcf;
  background-color: transparent;
}

/* line 31, ../../../../private/azure/src/_partials/button.scss */
Button[TOGGLE]:selected {
  /* background-color: #d3d3d3; */
  background-image: gradient(linear, left top, left bottom, from(#e0e0e0), color-stop(30%, #f0f0f0), color-stop(70%, #e0e0e0), to(#b0b0b0));
}

/* line 42, ../../../../private/azure/src/_partials/button.scss */
Button[TOGGLE]:selected:hover {
  /* background-color: #d3d3d3; */
  background-image: gradient(linear, left top, left bottom, from(#e0e0e0), color-stop(52%, #e0e0e0), to(#b0b0b0));
}

/* line 52, ../../../../private/azure/src/_partials/button.scss */
Button[PUSH]:hover, Button[TOGGLE]:hover {
  background-image: gradient(linear, left top, left bottom, from(white), color-stop(48%, #f0f0f0), color-stop(52%, #e0e0e0), to(#cccccc));
}

/* line 62, ../../../../private/azure/src/_partials/button.scss */
Button[PUSH]:pressed, Button[TOGGLE]:pressed {
  background-image: gradient(linear, left top, left bottom, from(#e0e0e0), color-stop(52%, #e0e0e0), to(#b0b0b0));
  padding: 4px 5px 2px 7px;
}

/* line 72, ../../../../private/azure/src/_partials/button.scss */
Button[CHECK][BORDER] {
  background-image: none;
}

/* line 76, ../../../../private/azure/src/_partials/button.scss */
Button[RADIO][BORDER] {
  background-image: none;
}

/* line 80, ../../../../private/azure/src/_partials/button.scss */
Button-FocusIndicator[PUSH], Button-FocusIndicator[TOGGLE] {
  background-color: transparent;
  border: 1px dotted #b8b8b8;
  margin: 2px;
  padding: 0px;
  opacity: 1;
}

/* line 88, ../../../../private/azure/src/_partials/button.scss */
Button-FocusIndicator[CHECK], Button-FocusIndicator[RADIO] {
  background-color: transparent;
  border: 1px dotted #b8b8b8;
  padding: 2px 2px 2px 1px;
  margin: 0px;
  opacity: 1;
}

/* line 96, ../../../../private/azure/src/_partials/button.scss */
Button.clearButton {
  color: #4a4a4a;
  background-color: transparent;
  background-image: none;
  border: none;
  padding: 2px;
}
