/* line 26, ../../../../private/azure/src/_partials/global_settings.scss */
* {
  color: #222222;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: white;
}

/* line 32, ../../../../private/azure/src/_partials/global_settings.scss */
*:disabled {
  color: #cfcfcf;
}

/* line 36, ../../../../private/azure/src/_partials/global_settings.scss */
*[BORDER] {
  border: 1px solid #aaaaaa;
}

/* line 3, ../../../../private/azure/src/_partials/combo.scss */
Combo, CCombo {
  background-color: #FFFFFF;
}

/* line 7, ../../../../private/azure/src/_partials/combo.scss */
Combo:disabled, CCombo:disabled {
  background-color: #eeeeee;
}

/* line 11, ../../../../private/azure/src/_partials/combo.scss */
Combo, CCombo[BORDER] {
  border-radius: 2px;
}

/* line 15, ../../../../private/azure/src/_partials/combo.scss */
Combo-Button-Icon, CCombo-Button-Icon {
  background-image: url("/themes/azure/images/down.png");
}

/* line 19, ../../../../private/azure/src/_partials/combo.scss */
Combo-Button-Icon:hover, CCombo-Button-Icon:hover {
  background-image: url("/themes/azure/images/down-hover.png");
}

/* line 23, ../../../../private/azure/src/_partials/combo.scss */
Combo-Button, CCombo-Button {
  background-color: transparent;
  border: none;
  border-radius: 0px 2px 2px 0px;
  background-image: gradient(linear, left top, left bottom, from(white), color-stop(48%, #f0f0f0), color-stop(52%, #e0e0e0), to(#cccccc));
  width: 18px;
}

/* line 37, ../../../../private/azure/src/_partials/combo.scss */
Combo-Button:pressed, CCombo-Button:pressed {
  background-image: gradient(linear, left top, left bottom, from(#e0e0e0), color-stop(52%, #e0e0e0), to(#b0b0b0));
}

/* line 46, ../../../../private/azure/src/_partials/combo.scss */
Combo-List, CCombo-List {
  border: 1px solid #c1c1c1;
  border-radius: 0px 0px 2px 2px;
}

/* line 51, ../../../../private/azure/src/_partials/combo.scss */
Combo-FocusIndicator, CCombo-FocusIndicator {
  border: 1px dotted #b8b8b8;
  margin: 1px 19px 1px 1px;
}
