/* line 25, ../../../../private/azure/src/_partials/global_settings.scss */
* {
  color: #222222;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: white;
}

/* line 31, ../../../../private/azure/src/_partials/global_settings.scss */
*:disabled {
  color: #cfcfcf;
}

/* line 35, ../../../../private/azure/src/_partials/global_settings.scss */
*[BORDER] {
  border: 1px solid #aaaaaa;
}

/* line 3, ../../../../private/azure/src/_partials/display.scss */
Display {
  rwt-selectionmarker-color: #bbd8e0;
}
