/* line 25, ../../../../private/azure/src/_partials/global_settings.scss */
* {
  color: #222222;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: white;
}

/* line 31, ../../../../private/azure/src/_partials/global_settings.scss */
*:disabled {
  color: #cfcfcf;
}

/* line 35, ../../../../private/azure/src/_partials/global_settings.scss */
*[BORDER] {
  border: 1px solid #aaaaaa;
}

/* line 13, ../../../../private/azure/src/_partials/shell.scss */
Shell {
  padding: 5px;
  border: 10px solid #0a648c;
}

/* line 19, ../../../../private/azure/src/_partials/shell.scss */
Shell[TITLE], Shell[BORDER] {
  border: 6px solid #0a648c;
  border-radius: 5px;
}

/* line 25, ../../../../private/azure/src/_partials/shell.scss */
Shell-Titlebar {
  background-image: gradient(linear, left top, left bottom, from(#0a648c), to(#2c738f));
  background-color: #0a648c;
  height: 26.4px;
  font: 13.2px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: white;
}

/* line 35, ../../../../private/azure/src/_partials/shell.scss */
Shell-DisplayOverlay {
  animation: fadeIn 120ms linear, fadeOut 200ms ease-out;
  background-image: none;
  background-color: black;
  opacity: 0.3;
}

/* line 43, ../../../../private/azure/src/_partials/shell.scss */
Shell-CloseButton {
  background-image: url("/themes/azure/images/shell-close.png");
  margin: 0px 5px 0px 0px;
}

/* line 48, ../../../../private/azure/src/_partials/shell.scss */
Shell-MaxButton {
  background-image: url("/themes/azure/images/shell-max.png");
  margin: 0px 6px 0px 0px;
}

/* line 53, ../../../../private/azure/src/_partials/shell.scss */
Shell-MinButton {
  background-image: url("/themes/azure/images/shell-min.png");
  margin: 0px 6px 0px 0px;
}

/* line 58, ../../../../private/azure/src/_partials/shell.scss */
Shell-CloseButton:hover {
  background-image: url("/themes/azure/images/shell-close-hover.png");
}

/* line 62, ../../../../private/azure/src/_partials/shell.scss */
Shell-MaxButton:hover {
  background-image: url("/themes/azure/images/shell-max-hover.png");
}

/* line 66, ../../../../private/azure/src/_partials/shell.scss */
Shell-MinButton:hover {
  background-image: url("/themes/azure/images/shell-min-hover.png");
}
