/* line 24, ../../../../private/azure/src/_partials/global_settings.scss */
* {
  color: #222222;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #f4f9fa;
}

/* line 30, ../../../../private/azure/src/_partials/global_settings.scss */
*:disable {
  color: #cfcfcf;
}

/* line 34, ../../../../private/azure/src/_partials/global_settings.scss */
*[BORDER] {
  border: 1px solid #aaaaaa;
}
