/* line 26, ../../../../private/azure/src/_partials/global_settings.scss */
* {
  color: #222222;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: white;
}

/* line 32, ../../../../private/azure/src/_partials/global_settings.scss */
*:disabled {
  color: #cfcfcf;
}

/* line 36, ../../../../private/azure/src/_partials/global_settings.scss */
*[BORDER] {
  border: 1px solid #aaaaaa;
}

/* line 3, ../../../../private/azure/src/_partials/tool_item.scss */
ToolBar {
  background-color: transparent;
}

/* line 7, ../../../../private/azure/src/_partials/tool_item.scss */
ToolItem {
  background-color: transparent;
  border: none;
  padding: 3px;
}

/* line 13, ../../../../private/azure/src/_partials/tool_item.scss */
ToolItem:hover, ToolItem:selected {
  background-color: #bbd8e0;
}

/* line 17, ../../../../private/azure/src/_partials/tool_item.scss */
ToolItem:pressed {
  background-color: transparent;
  border: 1px #bbd8e0;
}
