<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.codefaces.httpclient.ajax.AjaxClientWidgetResource">
      </resource>
      <resource
            class="org.codefaces.httpclient.ajax.JQueryResource">
      </resource>
      <resource
            class="org.codefaces.httpclient.ajax.JQueryJsonpResource">
      </resource>
      <resource
            class="org.codefaces.httpclient.ajax.JsonHelperResource">
      </resource>
   </extension>
</plugin>
