@import "_partials/global_settings";

Composite {
  background-color: transparent;
}

Composite[BORDER] {
  background-color: $global_background_color;
  background-image: none;
}

Composite.inactiveButton {
  background-color: transparent;
  border: none;
}