<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="org.codefaces.ui.lookandfeel.spica.SpicaPresentationFactory"
            id="org.codefaces.ui.lookandfeel.spica.SpicaPresentationFactory"
            name="Spica Presentation Factory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.rap.ui.stackPresentations">
      <stackPresentation
            class="org.codefaces.ui.lookandfeel.spica.stacks.SpicaStackPresentation"
            id="org.codefaces.ui.lookandfeel.spica.stacks.SpicaStackPresentation"
            name="Spica Stack Presentation"
            type="view">
      </stackPresentation>
   </extension>

</plugin>
