@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/grid";
@import "blueprint/ie";

@import "compass/utilities/text/replacement";
@import "compass/utilities/lists/horizontal-list";
@import "compass/utilities/general/float";
@import "compass/layout/sticky-footer";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

@include blueprint;

// This convert 1em to ~12pt
$text_normalize_percentage: 75%;

$header_height: 3.5em;
$header_logo_width: 48px;
$header_bgcolor: #0D1C28;
$header_border_hightlight: #08333F;
$header_border_shadow: #000406;
$header_bottum_margin: 2em;
$nav_hover_bgcolor: #005256;
$nav_font_size: 1.1em;
$nav_text_color: #DDDDDD;

//The sidebar columns = NColumns - this value
$content_main_columns: 5;
$content_sidebar_title_color: #0D1C28;
$content_sidebar_title_size: 1.5em;
$content_sidebar_title_border_color: #999999;
$content_bookmarklet_border_color: #B7DCE2;

body{
  background-image:  image-url("background.jpg");
  background-repeat: repeat-x;
  background-color: #FFFFFF;   
  font-size: $text_normalize_percentage;
}

#container{
  //@include showgrid("grid.png");
  @include container;
  width: $blueprint_container_size;
  padding: 0 0.5em;
}

#header {
  @include column($blueprint-grid-columns);
  @include border-bottom-left-radius(0.5em);
  @include border-bottom-right-radius(0.5em);
  @include box-shadow($header_border_shadow, 0px, 1px, 5px);
  @include clearfix;
  background-color: $header_bgcolor;
  height: $header_height;
  font-size: $nav_font_size;
  border: solid 1px $header_border_hightlight;
  border-top: none;
  margin-bottom: $header_bottum_margin;

  
  h1 {
    font-size: 100%;
    margin: 0;
    padding: 0;
    @include float-left;
    
    a {
      @include replace-text("logo.png");
      display: block;
      height: $header_height;
      width: $header_logo_width;
      padding: 0 1.5em;
      border-right:solid 1px $header_border_shadow;
    }
  }// end of h1
    
  ul{
    @include horizontal-list;
    overflow: visible;
   
    li {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      
      a { 
        color: $nav_text_color;
        text-decoration: none;
        display: block;
        padding: ($header_height - $nav_font_size)/2 1em;
        margin: 0 0;
        line-height: $nav_font_size;
        border-left:solid 1px $header_border_hightlight;
        border-right:solid 1px $header_border_shadow;
        
      }
      
      a:hover{
        background-color: $nav_hover_bgcolor;
        border-right: solid 1px $nav_hover_bgcolor;
      }
    }
  }//end of ul
  
  #rss {
    //margin: 0;
    //padding: 0;
    
    
    a{
      @include replace-text("social/rss.png");
      @include float-right;
      padding-right: 2em;
      display: block;
      height: $header_height;
      width: 21px;
    }
  }
}// end of header

#content{
  
  #main {
    @include column($content_main_columns);
  }

  #sidebar{
    @include column($blueprint-grid-columns - $content_main_columns, true);
    
    ul {
      list-style: none;
      li.sidebar_item {
        h3{
          @include text-shadow(#FFFFFF, 0px, 1px);
          text-transform: capitalize;
          color: $content_sidebar_title_color;
          font-size: $content_sidebar_title_size;
          border-bottom: 1px dotted $content_sidebar_title_border_color;
        }
      }
    }
    
    #bookmarklet{
    
      a.bookmarklet {
        line-height: 48px;
        padding-left: 48px + 10px;
        padding-top: 0;
        margin: 1em 1.5em;
        display: block;
        text-decoration: none;
        background: image-url("bookmark.png") no-repeat;
        font-size: 1.2em;
        border: 1px solid $content_bookmarklet_border_color;
        color: #000068;
        //background-color: #FFEA97;
      }
    }
    
    #follow_us { 
      
      ul {
        @include horizontal-list;
        
        li {
          margin: 0;
          padding: 0;
      
          a { 
            text-decoration: none;
            display: block;
            width: 32px;
            height: 32px;
            padding: 0 0.5em;
          }
          a.google { @include replace-text("social/google.png"); }
          a.twitter { @include replace-text("social/twitter.png"); }
          a.facebook { @include replace-text("social/facebook.png"); }
        }
      }
      
    }
  }
}

#footer {
    @include column($blueprint-grid-columns, true);    
    border-top: 1px solid #DDDDDD; 
}