-# This is the HAML template for the Code Editor Template
-# To compile. Run: 
-# haml private/templates/code_editor.haml public/templates/code_editor.html --style=ugly
!!!
%html
  %head
    %title
      $title$
    %link{:type=>"text/css", :href=>"/html/stylesheets/highlight/idea.min.css", :rel=>"stylesheet"}
    %script{:type=>"text/javascript", :src=>"/html/javascripts/highlight/highlight.min.js"}
    %script{:type=>"text/javascript", :src=>"$resource_url$"}
    %script{:type=>"text/javascript"}
      hljs.tabReplace = "  ";
      hljs.showPages = true;
      hljs.initHighlightingOnLoad();

  %body
    .code
      %pre
        %code{:class=>"$lang$"}
          $code$