<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.codefaces.ui.lib.js.JQueryResource">
      </resource>
      <resource
            class="org.codefaces.ui.lib.js.JQueryJsonpResource">
      </resource>
      <resource
            class="org.codefaces.ui.lib.js.Json2Resource">
      </resource>
   </extension>

</plugin>
