<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/html"
            base-name="public">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/"
            class="org.codefaces.web.UrlDispatcher"
            load-on-startup="true">
      </servlet>
   </extension>
   
   <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.codefaces.web.resources.JQuery">
      </resource>
      <resource
            class="org.codefaces.web.resources.Jsonp">
      </resource>
      <resource
            class="org.codefaces.web.resources.Json2">
      </resource>
   </extension>
   <extension
         point="org.codefaces.ui.codeLanguages">
      <codeLangauge
            filePatterns="*.rb,RakeFile"
            id="org.codefaces.web.codeLangauge.ruby"
            name="ruby"
            resource="/html/javascripts/highlight/languages/ruby.js">
      </codeLangauge>
   </extension>
</plugin>
