<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/html"
            base-name="public">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/"
            class="org.codefaces.web.UrlDispatcher"
            load-on-startup="true">
      </servlet>
   </extension>
   
   <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.codefaces.web.resources.JQuery">
      </resource>
      <resource
            class="org.codefaces.web.resources.Jsonp">
      </resource>
      <resource
            class="org.codefaces.web.resources.Json2">
      </resource>
   </extension>
   <extension
         point="org.codefaces.ui.codeLanguages">
      <codeLangauge
            filePatterns="*.sh"
            id="org.codefaces.web.codeLangauge.bash"
            name="bash"
            resource="/html/javascripts/highlight/languages/bash.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.cpp"
            id="org.codefaces.web.codeLangauge.cpp"
            name="cpp"
            resource="/html/javascripts/highlight/languages/cpp.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.cs"
            id="org.codefaces.web.codeLangauge.cs"
            name="cs"
            resource="/html/javascripts/highlight/languages/cs.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.css"
            id="org.codefaces.web.codeLangauge.css"
            name="css"
            resource="/html/javascripts/highlight/languages/css.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.pas"
            id="org.codefaces.web.codeLangauge.delphi"
            name="delphi"
            resource="/html/javascripts/highlight/languages/delphi.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.diff"
            id="org.codefaces.web.codeLangauge.diff"
            name="diff"
            resource="/html/javascripts/highlight/languages/diff.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.html,*.htm"
            id="org.codefaces.web.codeLangauge.html"
            name="html"
            resource="/html/javascripts/highlight/languages/html-xml.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.java"
            id="org.codefaces.web.codeLangauge.java"
            name="java"
            resource="/html/javascripts/highlight/languages/java.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.js"
            id="org.codefaces.web.codeLangauge.javascript"
            name="javascript"
            resource="/html/javascripts/highlight/languages/javascript.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.lisp"
            id="org.codefaces.web.codeLangauge.lisp"
            name="lisp"
            resource="/html/javascripts/highlight/languages/lisp.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.pl"
            id="org.codefaces.web.codeLangauge.perl"
            name="perl"
            resource="/html/javascripts/highlight/languages/perl.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.php"
            id="org.codefaces.web.codeLangauge.php"
            name="php"
            resource="/html/javascripts/highlight/languages/php.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.py"
            id="org.codefaces.web.codeLangauge.python"
            name="python"
            resource="/html/javascripts/highlight/languages/python.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.scala"
            id="org.codefaces.web.codeLangauge.scala"
            name="scala"
            resource="/html/javascripts/highlight/languages/scala.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.sql"
            id="org.codefaces.web.codeLangauge.sql"
            name="sql"
            resource="/html/javascripts/highlight/languages/sql.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.rb,RakeFile"
            id="org.codefaces.web.codeLangauge.ruby"
            name="ruby"
            resource="/html/javascripts/highlight/languages/ruby.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.xml"
            id="org.codefaces.web.codeLangauge.xml"
            name="xml"
            resource="/html/javascripts/highlight/languages/html-xml.js">
      </codeLangauge>
      <codeLangauge
            filePatterns="*.vbs"
            id="org.codefaces.web.codeLangauge.vbscript"
            name="vbsript"
            resource="/html/javascripts/highlight/languages/vbscript.js">
      </codeLangauge>
   </extension>
</plugin>
